# dependencies
/node_modules

# environment
.env
.env.development
.env.production
.env.local
.env.*.local

# CRA build output
/build

# misc backups / archives
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
